<md-dialog aria-label="List dialog" ng-cloak  flex="80">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Tabla {{table.name}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">X</md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <div class="md-dialog-content">

            <!-- start: PAGE CONTENT -->

            <form name="userForm">
                <div layout layout-sm="column">
                    <div flex="60">
                        <label class="cute">Descripcion: {{table.description}}</label>
                    </div>
                </div>

                <div layout layout-sm="column">
                    <div flex="15">
                        <h5 class="cute" style="color: #666; text-align: right; margin-top: 18px; margin-right:10px;" >
                        <button class="btn btn-sm" tooltip="Creará un catálogo exclusivo para esta regla" tooltip-placement="right"><i class="fa fa-question"></i></button>
                        Regla atómica:
                        </h5>
                    </div>

                    <div flex="10" style="margin-top: 13px; padding-left: 20px">
                        <label class="ui-switch ui-switch-lg m-t-xs m-r">
                            <input disabled type="checkbox" ng-model="table.atomic"><i></i></label>
                    </div>

                    <div flex="25">
                        <h5 class="cute" style="color: #666; text-align: right; margin-top: 28px; margin-right:10px;">Dominios: {{table.catalog.name}}</h5>
                    </div>

                    <div flex="25">
                        <h5 class="cute" style="color: #666; text-align: right; margin-top: 28px; margin-right:10px;">Instrumento Normativo: {{SelectedInstruments}}</h5>
                    </div>

                </div>
            </form>

            <div class="content-wrap" ng-show="table.entities.length>0">

                <!-- HEADER -->

                <div id="header-table">
                    <div class="red thead"> <!-- tyle="display: inline-block;"-->
                        <div class="case">
                            <span class="t-title">CASO</span>
                        </div>
                    </div>

                    <div class="blue condition thead" ng-repeat="entity in table.entities" ng-init="entityIndex = $index">
                        <div class="theader">
                            <span class="t-title sp-right">{{entity.entity.name.length>13?entity.entity.name.substring(0,13)+"...":entity.entity.name}}</span>
                        </div>

                        <div class="tsub-header" ng-repeat="cond in entity.conds" ng-init="condIndex = $index">
                            <span class="t-title" tooltip="{{cond.attribute}}">{{cond.attribute.length>13?"..."+cond.attribute.substring(cond.attribute.length-13,cond.attribute.length):cond.attribute}}
                            </span>

                            <span class="t-connector">{{cond.connector}}</span>
                        </div>
                    </div>

                    <div class="cyan action thead">
                        <div class="case">
                            <span class="t-title">ACCIONES</span>
                        </div>
                    </div>
                </div>

                <!-- /HEADER -->

                <div class="table-loop" ng-repeat="row in table.rows" ng-init="rowIndex = $index">
                    <div class="red-50 tbody"> <!-- tyle="display: inline-block;"-->
                        <div style="text-align: center;">
                            <span class="t-title">
                                <input type="text" ng-model="row.tempCase" ng-if="!row.case">
                            {{row.case | makeLittle}}
                            </span>
                        </div>
                    </div>

                    <div class="grey-50 condition tbody" ng-repeat="entity in table.entities" ng-init="entityIndex = $index">
                        <div class="tsub-header" ng-repeat="cond in entity.conds" ng-init="condIndex = $index; celda = row.entities[entityIndex].conds[condIndex]">
                            <!-- PRENORMAL-INPUT -->
                            <div ng-if="celda.type=='preNormal'">
                                <!-- SOLO CUANDO ES EN / NO EN (LISTA) -->
                                <span class="t-title" ng-hide="(table.entities[entityIndex].conds[condIndex].attrType == 'date' || (table.entities[entityIndex].conds[condIndex].connector != 'en' && table.entities[entityIndex].conds[condIndex].connector != 'no en'))">
                                    <select type="text" ng-model="celda.value" ng-options="list.name as list.name for list in lists"></select>
                                </span>

                                <!-- INPUT NORMAL -->
                                <span class="t-title" ng-hide="(table.entities[entityIndex].conds[condIndex].attrType == 'date' || table.entities[entityIndex].conds[condIndex].connector == 'en' || table.entities[entityIndex].conds[condIndex].connector == 'no en')">
                                    <input type="text" ng-model="celda.value" typeahead="item for item in typeAheadList | filter:$viewValue | limitTo:8">
                                </span>

                                <!-- SOLO CUANDO ES FECHA -->
                                <span class="t-title" ng-hide="(table.entities[entityIndex].conds[condIndex].connector == 'en' || table.entities[entityIndex].conds[condIndex].connector == 'no en' || table.entities[entityIndex].conds[condIndex].attrType != 'date') ">
                                  <button class="btn btn-primary btn-xs margintop4px noBorderRadius btn-stroke"  style="overflow: hidden; width: 100%;" ><i class="fa fa-pencil"></i> Fecha: {{celda.value | date:"dd/MM/yyyy" | makeLittle}}</button>
                                </span>
                            </div>

                            <!-- NORMAL NO INPUT -->
                            <div ng-if="celda.type=='normal'">
                                <span class="t-title" tooltip="{{celda.value}}" tooltip-enable="celda.value.length>10" ng-hide="table.entities[entityIndex].conds[condIndex].attrType == 'date'">
                                {{celda.value | makeLittle}}
                                </span>

                                <span class="t-title" tooltip="{{celda.value |date:'dd/MM/yyyy'}}" tooltip-enable="celda.value.length>10" ng-show="table.entities[entityIndex].conds[condIndex].attrType == 'date'">
                                {{celda.value | date:'dd/MM/yyyy'}}
                                </span>
                            </div>

                            <!-- NONE -->
                            <div ng-if="celda.type=='none' && !celda.formula && !celda.funct">
                            -
                            </div>

                            <!-- Formula/Function -->
                            <div ng-if="celda.type=='formula'">
                                <span class="t-title">
                                {{celda.formula.line | makeLittle}}
                                <md-tooltip>Formula: {{celda.formula.line}}</md-tooltip>
                                </span>
                            </div>

                            <!-- Formula/Function -->
                            <div ng-if="celda.type=='funct'">
                                <span class="t-title">
                                {{celda.funct.name | makeLittle}}
                                <md-tooltip>Funcion: {{celda.funct.name}}...</md-tooltip>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="grey-100 action tbody"  ng-if="(row.actions==undefined || row.actions.length==0)">
                        <div style="text-align: center;">
                            <span>
                                -
                            </span>
                        </div>
                    </div>

                    <div class="grey-100 action tbody"  ng-if="(row.actions!=undefined && row.actions.length>0)">
                        <div ng-repeat="action in row.actions track by $index" style="clear:both;">
                            <button class="btn btn-default noBorderRadius maxwidth" style="float:left;">
                                <span ng-show="action.type=='modify'">
                                {{action.attr.name+"="+action.value | makeLittle}}
                                    <md-tooltip >
                                    {{action.attr.name+"="+action.value}}
                                    </md-tooltip>
                                </span>

                                <span ng-show="action.type=='message'">
                                Mensaje: {{action.value | makeLittle}}
                                    <md-tooltip >
                                    Mensaje: {{action.value}}
                                    </md-tooltip>
                                </span>

                                <span ng-show="action.type=='funct'">
                                Función: {{action.attr.name+"=" +action.funct.name+"(...)" | makeLittle}}
                                    <md-tooltip >
                                    Función: {{action.attr.name+"=" + action.funct.name+"(...)"}}
                                    </md-tooltip>
                                </span>

                                <span ng-show="action.type=='formula'">
                                Formula: {{action.attr.name+"=" + action.formula.line | makeLittle}}
                                    <md-tooltip >
                                    Formula: {{action.attr.name+"=" + action.formula.line}}
                                    </md-tooltip>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <div default-rule-audit></div>
                <div different-rule-audit></div>

            </div>

            <!-- end: PAGE CONTENT-->

        </div>


    </md-dialog-content>

</md-dialog>
