<md-dialog aria-label="List dialog" flex="50">
    <md-dialog-content style="padding: 5px 5px 0px 5px">
        <div class="md-dialog-content">
            <div class="alert alert-danger" ng-show="!data.success" style="margin-bottom: 0px;">
                <button type="button" class="close" aria-label="Close" ng-click="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>No se pudo guardar la regla.</h4>
                <b>Razon:</b> Regla invalida <br><br>
                <h4>Mensajes del compilador</h4>
                <ul ng-repeat="fail in data.response">
                    <li>{{fail}}</li> 
                </ul>
            </div>
        </div>
    </md-dialog-content> 

    <div class="md-actions">  
        <md-button ng-click="closeDialog()" class="md-primary"> 
            Cerrar 
        </md-button> 
    </div> 
</md-dialog>