<div class="amber-200 bg-big">
  <div class="text-center">
    <h1 class="text-shadow no-margin text-white text-4x p-v-lg">
      <span class="text-2x font-bold m-t-lg block">404</span>
    </h1>
    <h2 class="h1 m-v-lg text-black">Error!</h2>
    <p class="h4 m-v-lg text-u-c font-bold text-black">El recurso que esta buscando no se encuentra disponible.</p>
    <div class="p-v-lg">
      <a ui-sref="app.dashboard" md-ink-ripple class="md-btn indigo md-raised p-h-lg">
        <span class="text-white">Ir al inicio</span>
      </a>
    </div>
  </div>
</div>
