<div layout="row">
  <div flex="100">
    <ul class="breadcrumb bg-white b-a" ng-hide="$parent.entitiesExternal">
      <li><a ui-sref="app.dashboard"><i class="fa fa-home"></i> Inicio</a></li>
      <li class="active">Configuraciones</li>
    </ul>
  </div>
</div>

<div layout="row">
  <div flex="100">
    <md-toolbar ng-hide="$parent.entitiesExternal">
      <div class="md-toolbar-tools">
        <h2>
          <span>Configuraciones</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-content class="md-padding">
      <div class="row">
          <div ng-repeat="(key, config) in configuration" class="col-md-6 md-whiteframe-1dp" style="min-height: 160px;">
            <h4 class="cute" style="color: #666;">
                  {{readable[key].name}}
                <button class="btn btn-sm" tooltip="{{readable[key].description}}" tooltip-placement="right"><i class="fa fa-question"></i></button>
            </h4>
            <md-input-container  ng-if="config.type=='string' || config.type=='integer'">
              <label>{{key}}</label>
              <input ng-model="config.value" ng-if="config.type=='string'" type="text">
              <input ng-model="config.value" ng-if="config.type=='integer'" type="number">
            </md-input-container>
            <div style="float:left; margin-top: 15px; margin-left: 15px;">
              <label class="ui-switch ui-switch-lg m-t-xs m-r" ng-if="config.type=='boolean'">
                    <input type="checkbox" ng-model="config.value">
                    <i></i>
              </label>
            </div>
            <div class="legend-switch" ng-if="config.type=='boolean'">{{config.value?"Encendido":"Apagado"}}</div>
          </div>
      </div>

      <button md-ink-ripple type="button" class="md-btn btn-stroke md-raised m-b btn-fw blue" ng-click="saveConfigurations()" style="float:right;">Guardar</button>
    </md-content>
  </div>
</div>
